In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Load hourly data
hourly_data = pd.read_csv('hour.csv')
hourly_data.sample(4)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
11978,11979,2012-05-19,2,1,5,7,0,6,0,1,0.46,0.4545,0.67,0.1045,28,67,95
17065,17066,2012-12-18,4,1,12,20,0,2,1,1,0.36,0.3333,0.50,0.2537,4,264,268
652,653,2011-01-30,1,0,1,12,0,0,0,1,0.30,0.3182,0.52,0.1045,10,87,97
12388,12389,2012-06-05,2,1,6,9,0,2,1,2,0.52,0.5000,0.72,0.2537,50,285,335

In [2]:
hourly_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [3]:
#Number of missing values 
hourly_data.isnull().sum().sum()

0

In [4]:
hourly_data.describe().T

,count,mean,std,min,25%,50%,75%,max
instant,17379.0,8690.000000,5017.029500,1.00,4345.5000,8690.0000,13034.5000,17379.0000
season,17379.0,2.501640,1.106918,1.00,2.0000,3.0000,3.0000,4.0000
yr,17379.0,0.502561,0.500008,0.00,0.0000,1.0000,1.0000,1.0000
mnth,17379.0,6.537775,3.438776,1.00,4.0000,7.0000,10.0000,12.0000
hr,17379.0,11.546752,6.914405,0.00,6.0000,12.0000,18.0000,23.0000
holiday,17379.0,0.028770,0.167165,0.00,0.0000,0.0000,0.0000,1.0000
weekday,17379.0,3.003683,2.005771,0.00,1.0000,3.0000,5.0000,6.0000
workingday,17379.0,0.682721,0.465431,0.00,0.0000,1.0000,1.0000,1.0000
weathersit,17379.0,1.425283,0.639357,1.00,1.0000,1.0000,2.0000,4.0000
temp,17379.0,0.496987,0.192556,0.02,0.3400,0.5000,0.6600,1.0000
atemp,17379.0,0.475775,0.171850,0.00,0.3333,0.4848,0.6212,1.0000
hum,17379.0,0.627229,0.192930,0.00,0.4800,0.6300,0.7800,1.0000
windspeed,17379.0,0.190098,0.122340,0.00,0.1045,0.1940,0.2537,0.8507
casual,17379.0,35.676218,49.305030,0.00,4.0000,17.0000,48.0000,367.0000
registered,17379.0,153.786869,151.357286,0.00,34.0000,115.0000,220.0000,886.0000
cnt,17379.0,189.463088,181.387599,1.00,40.0000,142.0000,281.0000,977.0000

### 1.01 Exercise 101: Preprocessing temporal and weather features

In [5]:
preprocessed_data = hourly_data.copy()

In [6]:
seasons_mapping = {1: 'Winter', 2:'Spring', 3:'Summer', 4:'Fall'}
preprocessed_data['season'] = preprocessed_data['season'].map(seasons_mapping)

In [7]:
yr_mapping = {0: 2011, 1: 2012}
preprocessed_data['yr'] = preprocessed_data['yr'].map(yr_mapping)

In [8]:
weekday_mapping = {0: 'Sunday', 1: 'Monday', 2: 'Tuesday', \
3: 'Wednesday', 4: 'Thursday', 5: 'Friday', \
6: 'Saturday'}
preprocessed_data['weekday'] = preprocessed_data['weekday'].map(weekday_mapping)

In [9]:
weathersiit_mapping = {1: 'clear weather ', 2:'cloudy weather', 3:'light snow or rain', 4:' heavy snow or rain'}
preprocessed_data['weathersit'] = preprocessed_data['weathersit'].map(weathersiit_mapping)

In [10]:
preprocessed_data['hum'] = preprocessed_data['hum']*100 
preprocessed_data['windspeed'] = preprocessed_data['windspeed']*67

In [11]:
# visualize preprocessed columns
cols = ['season', 'yr', 'weekday', 'weathersit', 'hum', 'windspeed']
preprocessed_data[cols].sample(10, random_state=123)

       season    yr    weekday          weathersit   hum  windspeed
5792   Summer  2011   Saturday      clear weather   74.0     8.9981
7823     Fall  2011     Sunday      clear weather   43.0    31.0009
15426    Fall  2012    Tuesday      cloudy weather  77.0     6.0032
15028    Fall  2012     Sunday      clear weather   51.0    22.0028
12290  Spring  2012     Friday      cloudy weather  89.0    12.9980
3262   Spring  2011     Friday      clear weather   64.0     7.0015
10763  Spring  2012   Thursday      clear weather   42.0    23.9994
12384  Spring  2012    Tuesday  light snow or rain  82.0    11.0014
6051   Summer  2011  Wednesday      clear weather   52.0    19.0012
948    Winter  2011   Saturday      clear weather   80.0     0.0000